/* ======= RESET ========= */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

/* ======= LAYOUT ========= */
body {
  padding-top: 5rem;
}

/* ======= HEADER ===== */

header {
  display: inline-flex;
  align-items: center;
}

img {
  position: relative;
  border-radius: 50%;
  right: 12rem;
  z-index: 1;
}
.img {
  display: flex;
  align-items: center;
  max-width: 50%;
}

.rectangle {
  background-color: #e5c5d0;
  width: 25rem;
  height: 25rem;

  z-index: 0;
}

h1 {
  font: 500 2rem Poppins;
  text-transform: uppercase;
  color: #555555;
}

.text {
  max-width: 50%;
}

/* ==== BODY ====== */

main {
  display: inline-flex;
}

section {
  max-width: 50%;
  padding: 5rem;
}

h2 {
  font: 400 1.3rem Poppins;
  color: #e5c5d0;
  text-transform: uppercase;
  margin-top: 2rem;
}

p {
  font: 300 1rem Assistant;
  color: #555555;
}
